#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: Georgia, serif;
}

h1 {
  font-size: 2rem;
  line-height: 1.15;
  margin: 0;
}

body {
  background-color: lightyellow !important;
}

label {
  display: flex;
  align-items: center;
}

.selectJob {
  flex: 1;
}

.selectData {
  flex: 3;
}

.dateRange {
  -ms-flex-align: start;
}

button {
  margin-right: auto;
}