#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: Georgia, serif;
}

h1 {
  font-size: 2rem;
  line-height: 1.15;
  margin: 0;
}

body {
  background-color: lightyellow !important;
}

.placeholder {
  background-color: white;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}